@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: rgb(162, 162, 163);
}

header {
    text-align: center;
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

section {
    float: left;
    width: 80%;
}

section#chatroom {
    border: 5px inset rgb(104, 68, 204);
    height: 92.5%;
    position: absolute;
    bottom: 0;
}

section#messages {
    border: 5px inset rgb(104, 68, 204);
    max-height: 92.5%;
    width: 100%;
    position: absolute;
    bottom: 7.5%;
    overflow-y: auto;
}

section#input_text {
    position: absolute;
    bottom: 0;
    height: 7.5%;
    text-align: center;
    background-color: rgb(162, 155, 180);
}

aside{
    float: right;
    width: 20%;
    height: 92.5%;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 0;
    border: 5px inset rgb(100, 79, 160);
    padding: 0.2rem 0.4rem;
}

aside#users {
    font-size: 2vh;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    border:0;
    padding: 0.35rem 0.7rem;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
    border: 0;
    background-color: rgb(104, 68, 204);
}

.message {
    margin: 0px;
    width: 100%;
    height: 32px;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    padding: 1vh;
}



.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}